/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

:root {

  /* fonts */
  --primary-font-family: Helvetica Neue, Helvetica, Arial;
  --hacker-type: Lucida Console, Courier, Monotype;

  --lighter: #eee;
  --light: #7f7f7f;

  --darkest: #111;
  --darker: #222;
  --dark: #333;

  --primary-color: #0f0;
  --secondary-color: #0d0;

  --rainbow: linear-gradient(to right, rgba(255, 0, 255, 1), rgba(0, 0, 255, 1), rgba(0, 255, 255, 1), rgba(0, 255, 0, 1), rgba(255, 255, 0, 1), rgba(255, 0, 0, 1));
  --rainbow-vertical: linear-gradient( rgba(255, 0, 255, 1), rgba(0, 0, 255, 1), rgba(0, 255, 255, 1), rgba(0, 255, 0, 1), rgba(255, 255, 0, 1), rgba(255, 0, 0, 1));
  --drop-gradient: linear-gradient( rgba(96, 96, 96, .1) 50%, rgba(48, 48, 48, .5));

  --transparency-value: rgba(256,256,256,.5);
  --cover-height: 100vh;

}

body {
  font-size: 1em;
  font-family: var(--primary-font-family);
  width: 100%;
  color: var(--lighter);
}

h1, h2, h3, h4 {
  margin-top: 1em;
  font-family: var(--hacker-type);
  font-weight: lighter;
  font-variant: all-small-caps;
  color: var(--lighter);
}

h1 {
  font-size: 2em;
  line-height: 2em;
}

h2 {
  font-size: 1.7em;
  line-height: 2.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 2em;
}

h4 {
  font-size: 1.3em;
  line-height: 1.5em;
}

.magic {
  transition: all .5s ease-in-out;
  text-decoration: underline;
}

.rainbow {
  background: var(--rainbow-vertical);
  color: var(--darker);
  text-shadow: 2px black;
  border-radius: 1em;
  padding: .2em .6em;
  border: 1px
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

a:hover {
  color: var(--lighter);
}

img {
  margin: 0 auto;
  margin-top: 1.5em;
  height: 100%;
}

nav {
  font-family:Lucida Console, Courier, Monotype;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: var(--dark);
  z-index: 10;
  margin: auto;
  background: var(--secondary-color);
  border-bottom: 2px solid #666;
}

nav li {
  display: inline-block;
  font-variant: all-small-caps;
  padding: .8em;
  width: 12%;
  min-width: 5em;
  font-size: 1.05em;
  letter-spacing: .1em;
  transition: all .6s ease;
  color: var(--dark);
}


nav li:hover {
  background: #0e0;
  transition: all .3s ease;
  color: var(--darkest);
}


nav li.active {
  width: 15%;
  min-width: 7em;
  background: var(--primary-color);
}

.active {
  color: var(--darkest);
}

.active:hover {
  color: var(--lighter) !important;
}

.in-view {
  width: 14%;
  min-width: 6em;
}

#flyout-menu {
  display: none;
}

ul.menu, li.start  {
  background: #0f0 !important;
}

ul.menu li a:hover {
  background: var(--ternary-color);
}

input.menu-trigger:checked+ul.menu {
  height: inherit;
  width: 12em;
  text-align: center;
}

ul.menu li a {
  color: var(--darker);
}

ul.menu ul:last-child {
  padding-bottom: 1.5em;
}

section {
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  text-align: center;
  margin: 6em auto ;
  width: 80%;
  padding: 1.5em;
  padding-bottom: 2.5em;
  background-color: #333;
}

section:first-of-type {
  margin-top: 0;
  border-top: none;
}

section:last-of-type {
  margin-bottom: 0;
}

.divider {
  width: 40%;
  /* border-bottom: 1px solid #aaa; */
  margin: auto;
  margin-bottom: 1em;
  height: 1px;
  background: linear-gradient(to right, rgba(256,256,256,1) ,  rgba(1,1,1,0) 50%, rgba(256,256,256,1) );
}

#school p {
  text-align: center;
  width: 100%;
  margin: auto;
}

.container {
  margin: 1em;
  vertical-align: top;
  position: relative;
  display: inline-block;
  background: linear-gradient( rgba(0, 255, 0, 0.5););
  padding: 2px;
}

.card {
  text-align: center;
  display: inline-block;
  background: var(--light);
  width: 15em;
  height: 22em;
  overflow: hidden;
  transition: all 300 ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.7);
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.7);
}

.card-overlay {
  background: rgba(1,1,1,.1);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  transition: all 300 ease;
}

.icon {
  margin: auto;
  margin-top: 1.5em;
  position: absolute;
  height: 10em;
  transform: translateX(-50%);
  z-index:11;
  border-radius: 10em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.7);
  transition: all .2s linear;

}

.icon:hover {
  height: 10.5em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.plus {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.plus img {
  position: absolute;
  height: 2em;
  margin: auto;
  bottom: 1em;
  transform: translateX(-50%);
  transition: all .3s ease;
}

.list {
  margin: auto;
  margin-top: 1em;
  width: 85%;
  color: var(--darker);
  top: 11.5em;
  position: relative;
  padding-bottom: 2em;

}

.courses li {
  margin: auto;
  text-align: left;
  font-size: .8em;
  line-height: 1.2em;
  list-style: lower-roman;
  width: 80%;

}

p, details {
  text-align: left;
  padding: .5em;
  max-width: 60%;
  margin: auto;
  line-height: 1.5em;
  color: #bbb
}

.header {
  position: relative;
  height: var(--cover-height);
  background: var(--rainbow-vertical);
}

.cover {
  text-align: center;
  position: absolute;
  top:0;
  height: var(--cover-height);
  width: 100%;
  height: 100%;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  bottom: inherit;
  margin-top: 0;
  z-index: 11;
}

.matrix {
  font-size:1.05em;
  text-align:center;
  width:1em;
  padding:0px;
  margin:0px;
}

#matrix {
  font-family: var(--hacker-type);
  width: 15em;
  height: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  z-index: 11;
  transform: translateY(1.5em);
  transition: all .2s linear;
}

#headshot {
  height: 12em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  z-index: 11;
  transform: translateY(-4em);
  transition: all .2s linear;
}

#headshot:hover {
  height: 13em;
}

.content {
  position: relative;
  z-index: 10;
}

.footer {
  font-size: .8em;
  text-align: center;
  color: var(--dark);
  background: var(--secondary-color);
  z-index: 10;
  padding: 1em;
  position: relative;
}

.top-link {
  text-align: center;
  padding-bottom: 2.5em;
}

.top-link:hover {
  text-decoration: underline;
}

#links {
  color: #00ed00;
  display: inline-block;
  padding: 2em;
  font-family:Lucida Console, Courier, Monotype;
}

 #links li {
   display: inline-block;
   height: 2em;
   width: 5em;
   padding: 2em;
   text-align: center;
 }

 img.icon-link {
   height: 3em;
   padding: .2em;
 }

.email {
  letter-spacing: .2em;
}

#prompt {
  padding-bottom: 2em;
  color: #bbb;
}

form {
  background-color: var(--darker);
  max-width: 60%;
  min-width: 340px;
  margin: auto;
  border-radius: 5px;
  padding: 1em;
  padding-top: 2em;
  border: 2px solid #666
}

label {
  color: #bbb;
  width: 100px;
  margin: .5em .5em;
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
}

input, textarea, .recaptcha, button {
  margin: 5px 0;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: #dedede;

}

input.field, textarea {
  margin: 3em 0;
  margin-top: 0;
  min-width: 330px;
  max-width: 50%;
}

input[name=subject], textarea {
  width: 73%;
}

textarea {
  height: 10em;
}

.project .title {
  font-size: 1.2em;
  text-align: center;
  width: 70%;
  line-height: 1;
  margin: auto;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.proj-date, .proj-type, .proj-langs, .proj-pos {
  line-height: 1.2em;
  font-size: .9em;
  color: var(--secondary-color);
  width: 80%;
  margin: auto;
  font-style: oblique;
}

.proj-type, .proj-pos {
  display: none;
}

.proj-desc {
  color: var(--darker);
}

p.proj-desc {
  max-width: 80%;
  font-size: 1em;
  line-height: 1em;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {
  #matrix {
    display: none;
  }

  #headshot {
    transform: translateY(0em);
  }

  nav, .navbar-fixed {
    display: none;
  }

  #flyout-menu {
    display: block;
    position: fixed;
    transform: translate(1em, 1em);
    z-index: 11;
  }

  #flyout-menu .menu {
    border-radius: 1.6em;
  }

  li, a {
    border-radius: 2em;
  }

  form{
    min-width: inherit;
  }

  section {
    width: 80%;
  }

  input.field, textarea{
    min-width: 15px;
    max-width: 100%;
  }

  form {
    min-width: 20px;
    max-width: 100%;
  }

  #links {
    padding: .5em;
  }

  #links li {
    padding: 0;
    transform: translateY(-.5em);
  }

  .email {
    letter-spacing: .05em;
  }

  .header {
    background: var(--primary-color);
  }

  .card {
  }

  .section {
    width: 100%;
  }

}
